# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.git

# Django stuff:
db.sqlite3


# Папки, создаваемые средой разработки
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

.vscode/
*.code-workspace